.mod-header {
    padding: 5px 0;
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    transition: background-color .2s ease-in-out, padding .2s ease-in-out;
    z-index: 999;
    &.is-scroll,
    &.menu-open {
        background-color: $white;
    }

    &.is-scroll {
        box-shadow: 0px 13px 49px -20px rgba($primary_color, .75);
        .brand {
            img {
                max-width: 40px;
            }
        }
    }
}

.brand {
    display: inline-block;
    img {
        transition: all .2s ease-in-out;
        max-width: 50px;
    }
}

.header-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.menu-ham {
    width: 24px;
    height: 20px;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    flex-direction: column;
    span {
        width: 100%;
        height: 2px;
        background-color: $primary_color;
        transition: transform .4s ease-in-out;
        transform: rotate(0);
        transform-origin: 0px;
        &:nth-child(2) {
            width: 90%;
            transition: opacity .4s ease-in-out;
        }
        &:nth-child(3) {
            width: 80%;
        }
    }
    &.active {
        span {
            &:nth-child(1) {
                transform: rotate(49deg);
                transition: all .4s ease-in-out;
            }
            &:nth-child(2) {
                opacity: 0;
                transition: opacity .4s ease-in-out;
            }
            &:nth-child(3) {
                transform: rotate(-49deg);
                transition: all .4s ease-in-out;
                width: 100%;
            }
        }
    }
}

.menu {
    color: $primary_color;
    ul {
        list-style: none;
        padding: 0;
        margin-bottom: 0;
    }
    a {
        padding: 10px 0;
        display: inline-block;
        font-size: 16px;
        position: relative;
        text-decoration: none;
        color: inherit;
    }
}

.menu-pc {
    display: none;
}

.menu-mb {
    max-height: 0;
    height: calc(100vh - 60px);
    overflow: hidden;
    transition: max-height .4s ease-in-out, overflow .4s ease-in-out 1.2s;
    &.active {
        margin-top: 5px;
        max-height: calc(100vh - 60px);
        overflow-y: auto;
        transition: max-height .4s ease-in-out;
    }
    li {
        padding-left: 30px;
    }
    a {
        &::before {
            position: absolute;
            content: '';
            width: 20px;
            height: 2px;
            background-color: $primary_color;
            left: -30px;
            top: 50%;
            transform: translateY(-50%);
            display: block;
        }
    }
}

@media only screen and (min-width: 992px) {
    .mod-header {
        &.is-scroll {
            padding: 0;
        }
    }

    .menu {
        padding: 10px 0;
        a {
            padding: 10px 20px;
        }
    }

    .menu-pc {
        display: block;
        li {
            display: inline-block;
        }
    }

    .menu-mb {
        display: none;
    }

    .menu__lv1 {
        > li {
            &:hover {
                .menu__lv2 {
                    max-height: 600px;
                    opacity: 1;
                    transition: all .4s ease-in-out;
                }
            }
        }
    }
    
    .menu__lv2 {
        position: absolute;
        max-height: 0;
        height: auto;
        overflow: hidden;
        transition: all .4s ease-in-out;
        background-color: $white;
        // opacity: 0;
        li {
            display: block;
        }
    }

    .menu-ham {
        display: none;
    }
}