.module-main {
    padding:30px;
    background-color: $black;
    width: 100%;
    text-align: center;
    h2{
        color: $white;
        .info{
            color:$orange;
        }
    }
}
.registration{
    color: $white;
    font-size: 25px;
}
.register {
    color: $orange;
    font-size: 30px;
}
.text {
    color: $gray;
}
.checkbox {
    color:$white;
    span{
        font-size: 30px;
    }
    p{
        font-size: 15px;
    }
}
.input{
    width: 100%;
    border-radius: 10px;
    margin-bottom:10px;
}
