<section class="mod-banner owl-carousel owl-theme">
    <% for (let index = 0; index < 3; index++) { %>
    <div class="banner img-responsive lazy" data-src="./img/banner1.JPG"></div>
    <% } %>
</section>