<section class="mod-brand">
    <div class="container">
        <div class="row">
            <% for (let index = 0; index < 6; index++) { %>
            <div class="col-sm">
                <div><img class="img-responsive lazy" src="./img/vitamin_logo-02.PNG" alt=""></div>
            </div>
            <% } %>
        </div>
    </div>
</section>