<section class="mod-contact_info">
    <div class="container">
        <div class="row">
            <div class="col-sm">
                <div>
                    <div><img class="img-responsive lazy" src="" alt=""></div>
                    <div><span>Điện Thoại</span></div>
                    <div><span>Điện thoại 1: 0354 94 26 15</span></div>
                    <div><span>Điện thoại 2: 0938 82 60 70</span></div>
                </div>
            </div>
            <div class="col-sm">
                <div>
                    <div><img class="img-responsive lazy" src="" alt=""></div>
                    <div><span>Địa Chỉ</span></div>
                    <div><span>26/2A Trần Quang Diệu, Phường 13,
                            Quận 3, TP. Hồ Chí Minh</span></div>
                </div>
            </div>
            <div class="col-sm">
                <div>
                    <div><img class="img-responsive lazy" src="" alt=""></div>
                    <div><span>Email</span></div>
                    <div><span>Social@atozmarket.vn</span></div>
                </div>
            </div>
            <div class="col-sm">
                <div>
                    <div><img class="img-responsive lazy" src="" alt=""></div>
                    <div><span>Giờ Mở Cửa</span></div>
                    <div><span>T2 -> T7: 8AM - 5PM
                            Chủ Nhật: Đóng cửa</span></div>
                </div>
            </div>
        </div>
        <div class="infomation">
            <div class="title margin-title">Thông Tin Liên Hệ</div> <div class="border-title"></div>
            <div class="row">
                <div class="col-sm input">
                    <div><input type="text" placeholder="Họ Tên"></div>
                </div>
                <div class="col-sm input">
                    <div><input type="text" placeholder="Email"></div>
                </div>
            </div>
            <div class="row">
                <div class="col input">
                    <div><input type="text" placeholder="Điện Thoại"></div>
                    <div><textarea name="" id="" cols="30" rows="10" placeholder="Nội Dung"></textarea>
                    </div>
                </div>

            </div>
            <div class="btn bt">Gửi</div>
        </div>

    </div>
</section>