<section class="mod-detail">
    <div class="container">
        <div class="row">
            <div class="col-sm-9">
                <div class="row row-top">
                    <div class="col-sm col-top item-m">
                        <div><img class="img-responsive lazy" src="./img/sp1.JPG" alt=""></div>
                        <div class="row">
                            <% for (let index = 0; index < 4; index++) { %>
                            <div class="col-sm item-f"><img class="img-responsive lazy" src="./img/sp1.JPG" alt="">
                            </div>
                            <% }%>
                        </div>
                    </div>
                    <div class="col-sm col-top">
                        <div class="title-detail"><span>FISH COLLAGEN</span></div>
                        <div class="code">SKU:MT -7459023 | VIEW: 609</div>
                        <div><small>100.000 VNĐ</small></div>
                        <div>
                            <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Eius.</p>
                        </div>
                        <div>
                            Số lượng
                            <input type="text" placeholder="1">
                            <div class="">Giỏ hàng</div>
                        </div>
                    </div>
                </div>
                <div class="bg-display">
                    <ul>
                        <li><a href="">Chi tiết</a></li>
                        <li><a href="">Mô tả sản phẩm</a></li>
                        <li><a href="">Cảm nhận</a></li>
                    </ul>
                </div>
                <div>Lorem ipsum dolor sit amet consectetur adipisicing elit. Perspiciatis vel voluptatem porro in a
                    quod ad necessitatibus id incidunt nihil!
                </div>
                <div>Lorem ipsum dolor sit amet consectetur adipisicing elit. Perspiciatis vel voluptatem porro in a
                    quod ad necessitatibus id incidunt nihil!
                </div>
                <div>Lorem ipsum dolor sit amet consectetur adipisicing elit. Perspiciatis vel voluptatem porro in a
                    quod ad necessitatibus id incidunt nihil!
                </div>
                <div>Lorem ipsum dolor sit amet consectetur adipisicing elit. Perspiciatis vel voluptatem porro in a
                    quod ad necessitatibus id incidunt nihil!
                </div>
            </div>
            <div class="col-sm-3">
                <div class="row">
                    <div class="col">
                        <div>
                            <div class="row row-top ">
                                <div class="col-sm col-top items">
                                    <% for (let index = 0; index < 3; index++) { %>
                                    <div class="row img-product">
                                        <div class="col-3 col-pro">
                                            <div class=""><img class="img-responsive lazy"
                                                    src="./img/sp1.JPG" alt=""></div>
                                        </div>
                                        <div class="col-9 col-pro">
                                            <div><span>Sản phẩm 1</span></div>
                                            <div><small>100.000 VNĐ</small></div>
                                        </div>
                                    </div>
                                    <% } %>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col quangcao"><img class="img-responsive shadow lazy" src="./img/qc.JPG" alt=""></div>
                </div>
            </div>
        </div>
    </div>
</section>