<section class="mod-feedback">
    <div class="banner-feedback  img-responsive lazy" data-src="./img/banner2.JPG">
        <div class="title">Cảm Nhận Khách Hàng
            <div class="border-title"></div>
        </div>
        <div class="slide-feedback owl-carousel owl-theme">
            <% for (let index = 0; index < 6; index++) { %>
            <div class="bg-feedback">
                <div>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quidem quis iure deserunt magnam! Minima
                        illo
                        vero nihil fuga aspernatur repudiandae. Lorem ipsum, dolor sit amet consectetur adipisicing
                        elit.
                        Omnis, nulla.</p>
                </div>
                <div><img class="img-responsive img-customer lazy" src="./img/customer.JPG" alt=""></div>
            </div>
            <% } %>
        </div>
</section>