<footer class="mod-footer">
    <div class="container">
        <div class="row">
            <div class="col-sm content-footer">
                <div class="title-new">
                    Hỗ Trợ Khách Hàng
                </div>
                <div class="border"></div>
                <ul>
                    <li>Phương thức đặt hàng</li>
                    <li>Chính sách vận chuyển</li>
                    <li>Chính sách đổi trả</li>
                    <li>Liên hệ</li>
                </ul>

            </div>
            <div class="border-colu"></div>
            <div class="col-sm content-footer">
                <div class="title-new">
                    Hợp tác - liên kết
                </div>
                <div class="border"></div>
                <ul>
                    <li>Facebook</li>
                    <li>Zalo Shop</li>
                    <li>Youtube</li>
                    <li>Tiki</li>
                </ul>
            </div>
            <div class="border-colu"></div>
            <div class="col-sm content-footer">
                <div class="title-new">
                    Hệ Thống Shop
                </div>
                <div class="border"></div>
                <ul>
                    <li>CN1: 26/2A Trần Quang Diệu, P. 13, Q. 3</li>
                    <li>Hotline 03 54 94 26 15</li>
                    <li>Email: social@atozmarket.vn</li>
                </ul>
            </div>
        </div>
    </div>
</footer>