<footer class="mod-footer bg-black">
    <div class="container">
        <div class="copyright text-center">
            Copyright &copy; PNK media a digital company
        </div>
    </div>
</footer>