<header class="mod-header">
    <div class="container">
        <div class="header-container">
            <div class="brand">
                <a href="">
                    <img class="lazy" data-src="./img/logo-header.png" alt="" class="img-responsive">
                </a>
            </div>
            <div class="menu-ham">
                <span></span>
                <span></span>
                <span></span>
            </div>
            <div class="menu menu-pc">
                <ul class="menu__lv1">
                    <li><a href="about.html">ABOUT</a></li>
                    <li><a href="news.html">NEWS</a></li>
                    <li class="has-submenu"><a href="products.html">PRODUCTS</a>
                        <ul class="menu__lv2">
                            <% for (let index = 0; index < 4; index++) { %>
                                <li><a href="">sub menu <%= index %></a></li>
                            <% }  %>
                        </ul>
                    </li>
                    <li><a href="contact.html">CONTACT</a></li>
                </ul>
            </div>
        </div>
        <div class="menu menu-mb">
            <div class="menu-container">
                <ul class="menu__lv1">
                    <li><a href="about.html">ABOUT</a></li>
                    <li><a href="news.html">NEWS</a></li>
                    <li class="has-submenu"><a href="products.html">PRODUCTS</a>
                        <ul class="menu__lv2">
                            <% for (let index = 0; index < 4; index++) { %>
                                <li><a href="">sub menu <%= index %></a></li>
                            <% }  %>
                        </ul>
                    </li>
                    <li><a href="contact.html">CONTACT</a></li>
                </ul>
            </div>
        </div>
    </div>
</header>