<section class="mod-map">
    <div><iframe class="img-responsive lazy" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d1263.7639394384214!2d106.67858701506754!3d10.7851007313104!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x31752f2a27161ae9%3A0x71e078180bf44f77!2zMjYvMkEgVHLhuqduIFF1YW5nIERp4buHdSwgUGjGsOG7nW5nIDEzLCBRdeG6rW4gMywgSOG7kyBDaMOtIE1pbmg!5e0!3m2!1svi!2s!4v1572863174623!5m2!1svi!2s" width="100%" height="450" frameborder="0" style="border:0;" allowfullscreen=""></iframe></div>
</section>