<section class="mod-new">
    <div class="container">
        <div class="title">Tin tức
            <div class="border-title"></div>
        </div>
        <div class="row">
            <% for (let index = 0; index < 3; index++) { %>
            <div class="col-sm info-new">
                <a class="linked" href="">
                    <div><img class="img-responsive lazy" src="./img/customer.JPG" alt=""></div>
                    <div class="title-new">Tin tức 1</div>
                    <div>
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Neque totam dicta dolorem nostrum.
                            Repellat
                            placeat earum aliquam voluptatem omnis dignissimos?</p>
                    </div>
                </a>
            </div>
            <% } %>
        </div>
    </div>
</section>