<section class="mod-products">
    <div class="container">
        <div class="row product owl-carousel owl-theme">
            <% for (let index = 0; index < 4; index++) { %>
            <div class="col-sm col-product">
                <div class="item-product"><img class="img-responsive lazy" src="./img/sp1.JPG" alt=""></div>
            </div>
            <% } %>
        </div>
    </div>
</section>