<section class="mod-registration">
    <div class="bg-registration">
        <div class="container">
            <div class="row">
                <div class="col-sm-1 col-icon">
                    <div><img class="lazy" src="./img/paper-plane-white@2x.PNG" alt=""></div>
                </div>
                <div class="col-sm-4">
                    <div>Đăng ký nhận bảng tin</div>
                    <small>Đừng bỏ lở hàng ngàn sản phẩm và chương trình khuyến mãi</small>
                </div>
                <div class="col-sm-7 col-regis">
                    <ul>
                        <li><div><input type="text" placeholder="Địa chỉ email của bạn"></div></li>
                        <li><div class="btn">Đăng ký</div></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</section>