<section class="mod-selling_product">
    <div class="container">
        <div class="title">Sản Phẩm Bán Chạy</div>
        <div class="border-title"></div>
        <div class="row row-top ">
            <% for (let index = 0; index < 4; index++) { %>
            <div class="col-sm col-top">
                <a class="linked" href="">
                    <div><img class="img-responsive lazy" src="./img/sp1.JPG" alt=""></div>
                    <div><span>Sản phẩm 1</span></div>
                    <div><small>100.000 VNĐ</small></div>
                </a>
            </div>
            <% } %>
        </div>
    </div>
</section>