<section class="module mod-single-slide bg-primary">
    <div class="container">
        <div class="slide">
            <% for (let index = 0; index < 6; index++) { %>
            <div class="slide-item lazy" data-src="./img/astronautplaceholder.jpg">
                <div class="overlay">
                    <p class="title">
                        slide item <%= index %>
                    </p>
                    <p class="content">
                        Lorem, ipsum dolor sit amet consectetur adipisicing elit. Sunt tempora porro provident eum
                        soluta laborum repudiandae quas quisquam illo mollitia.
                    </p>
                    <p>
                        <a href="" class="btn btn-white">
                                chi tiết
                            </a>
                    </p>
                </div>
                <!-- <a href="" class="link"></a> -->
            </div>
            <% }  %>
        </div>
    </div>
</section>