<section class="mod-main">
    <div class="container module-main">
        <div class="row">
            <div class="col-md-8">
                <div class="registration">Get a Free online Registration</div>
                <div class="register">Register Now!</div>
                <div class="text">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Pariatur ab unde eveniet quos possimus atque
                    ducimus consectetur animi saepe autem? A saepe sit architecto totam illo reiciendis molestias rerum id.
                </div>
                <div class="row">
                    <div class="checkbox col-sm-6 col-md-3">
                        <span>754</span>
                        <p>HAPPY STUDENT</p>
                    </div>
                    <div class="checkbox col-sm-6 col-md-3">
                        <span>675</span>
                        <p>APPROVED COURSES</p>
                    </div>
                    <div class="checkbox col-sm-6 col-md-3">
                        <span>675</span>
                        <p>CERTIFIER TEACHERS</p>
                    </div>
                    <div class="checkbox col-sm-6 col-md-3">
                        <span>1,248</span>
                        <p>GRADUATE STUDENT</p>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <h2>Request <span class="info">Information</span></h2>
                <div>
                    <input class="input" type="text" placeholder="Enter Name">
                    <input class="input" type="text" placeholder="Email">
                    <input class="input" type="text" placeholder="Phone">
                    <select class="input" name="" id="">
                        <option value="">Choose Subject</option>
                    </select>
                    <input class="input" type="text" placeholder="Date of Birth">
                    <input class="input" type="text" placeholder="Enter Message">
                </div>
                <button class="input" style="background-color:orange;">Submit Request</button>
            </div>
        </div>
    </div>
</section>